//ellipse
ellipse {
	stroke-dasharray: 250;
	stroke-dashoffset: 250;
	animation: animForme 5s linear alternate infinite;
}

//animations
@keyframes animForme {
	from {
		stroke-dashoffset: 250;
	}
	to {
		stroke-dashoffset: 0;
	}
}